PORT=3000

AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=3001

EVALUATION_SERVICE_HOST=localhost
EVALUATION_SERVICE_PORT=3002

DIAGNOSIS_SERVICE_HOST=localhost
DIAGNOSIS_SERVICE_PORT=3003

CORS_ORIGIN=http://localhost:5173
